 body {
   background:black;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: 300;
   font-size: 12px;
 

    }

#container {
      width: 80%;
      margin: 0 auto;
      background-image: url("../images/NicolLogo.png");
      background-size: 39px;
      background-repeat: no-repeat;
      }
 header {
   background-color:rgba(255, 255, 255, 0.603);
 }
header :after{
content: '';
display: table;
clear: both;
}
 
 nav {
   float: right;
 }
 nav ul {
   margin: 60;
   padding: 50;
   list-style: none;
 }

 nav li {
   display: inline-block;
   margin-left: 50px;
   padding-bottom: 0px;
 }

 nav a {
   color:rgb(0, 0, 0);
   text-decoration: none;

   
 }
 nav a:hover {
   color: red;
 }

  nav a {
  opacity: 1.0;
  transition: opacity .40s ease-in-out;
  -moz-transition: opacity .40s ease-in-out;
  -webkit-transition: opacity .40s ease-in-out;
}  
.box {
  margin: 0px;
  float: right ;
  background-image: url("../images/Girl\ Coding.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
p {
  color: black;
  font-weight: ;
}
img {
  max-width: 15%;
  max-height: 15%;
  border-radius: 50px;
  border-color: rgba(0, 0, 0, 0.603);
  float: right;
}
