 body {
   background: black;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: 300;
   font-size: 12px;
    }

.container {
      width: 80%;
      margin: 0 auto;
      }
 header {
   background-color: black
 }
header ::after{
content: '';
display: table;
clear: both;
}
 
 nav {
   float: right;
 }
 nav ul {
   margin: 60;
   padding: 50;
   list-style: none;
 }

 nav li {
   display: inline-block;
   margin-left: 50px;
   padding-bottom: 0px;
 }

 nav a {
   color: white;
   text-decoration: none;

   
 }
 nav a:hover {
   opacity: 0.5;
 }

img {
  float: right;
 
h1 {
  color: black;
  font-family: cursive;
  padding: 50px;
}
nav a {
  opacity: 0.2;
  transition: opacity .40s ease-in-out;
  -moz-transition: opacity .40s ease-in-out;
  -webkit-transition: opacity .40s ease-in-out;
}